<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>100</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>3</artifactDaysToKeep>
    <artifactNumToKeep>3</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty plugin="googlecode@1.7"/>
    <org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl plugin="html5-notifier-plugin@1.2">
      <skip>false</skip>
    </org.jenkins.ci.plugins.html5__notifier.JobPropertyImpl>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <eu.markov.jenkins.plugin.mvnmeta.MavenMetadataParameterDefinition plugin="maven-metadata-plugin@1.0.0">
          <name>target.version</name>
          <description>Version to package</description>
          <repoBaseUrl>http://home.nabla.mobi:8081/nexus/content/repositories/snapshots</repoBaseUrl>
          <groupId>org.jboss.tools.gwt.kitchensink</groupId>
          <artifactId>gwt-kitchensink</artifactId>
          <packaging>war</packaging>
          <defaultValue>RELEASE</defaultValue>
          <versionFilter></versionFilter>
          <sortOrder>DESC</sortOrder>
          <maxVersions></maxVersions>
        </eu.markov.jenkins.plugin.mvnmeta.MavenMetadataParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.21">
      <autoRebuild>true</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.23"/>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.4.4"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.29">
      <project>nabla-servers-nightly</project>
      <filter>**/gwt-kitchensink.war</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher plugin="discard-old-build@1.05">
      <daysToKeep>30</daysToKeep>
      <numToKeep>-1</numToKeep>
      <resultsToDiscard>
        <hudson.model.Result>
          <name>FAILURE</name>
          <ordinal>2</ordinal>
          <color>RED</color>
          <completeBuild>true</completeBuild>
        </hudson.model.Result>
        <hudson.model.Result>
          <name>ABORTED</name>
          <ordinal>4</ordinal>
          <color>ABORTED</color>
          <completeBuild>false</completeBuild>
        </hudson.model.Result>
        <hudson.model.Result>
          <name>NOT_BUILT</name>
          <ordinal>3</ordinal>
          <color>NOTBUILT</color>
          <completeBuild>false</completeBuild>
        </hudson.model.Result>
      </resultsToDiscard>
      <minLogFileSize>0</minLogFileSize>
      <maxLogFileSize>0</maxLogFileSize>
      <intervalDaysToKeep>-1</intervalDaysToKeep>
      <intervalNumToKeep>15</intervalNumToKeep>
      <regexp></regexp>
    </org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher>
    <hudson.plugins.deploy.DeployPublisher plugin="deploy@1.9">
      <adapter class="hudson.plugins.deploy.tomcat.Tomcat7xAdapter">
        <userName>admin</userName>
        <passwordScrambled>bWljcm9zb2Z0</passwordScrambled>
        <url>http://localhost:8280</url>
      </adapter>
      <contextPath>nabla</contextPath>
      <war>sample/gwt-kitchensink/target/gwt-kitchensink.war	</war>
      <onFailure>false</onFailure>
    </hudson.plugins.deploy.DeployPublisher>
    <hudson.plugins.sitemonitor.SiteMonitorRecorder plugin="sitemonitor@0.4">
      <mSites>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://localhost:8280/nabla</mUrl>
        </hudson.plugins.sitemonitor.model.Site>
      </mSites>
    </hudson.plugins.sitemonitor.SiteMonitorRecorder>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.19">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.12.2">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>100</timeoutMinutes>
      </strategy>
      <failBuild>true</failBuild>
      <writingDescription>false</writingDescription>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.8"/>
  </buildWrappers>
</project>