[user]
	email = alban.andrieu@misys.com
	name = Alban Andrieu
[core]
	autocrlf = input
	editor = vim
[credential]
	helper = cache --timeout=86400
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    pl = pull —rebase
    di = diff --ignore-space-at-eol -b -w
    lo = log --graph
	unstage = reset HEAD --
	last = log -1 HEAD
[help]
	autocorrect = 1
[color]
	ui = auto
[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[diff]
    external = /usr/local/bin/git-diff.sh
[push]
	default = simple
