<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.2.0</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <configuredWorkspaceRoot></configuredWorkspaceRoot>
  <jdks>
    <jdk>
      <name>JDK 6</name>
      <home>C:\Sun\SDK\jdk</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.virtualbox.VirtualBoxCloud>
      <name>Ubuntu</name>
      <url>localhost</url>
      <username>albandri</username>
      <password>QmFuYm91MDE=</password>
    </hudson.plugins.virtualbox.VirtualBoxCloud>
  </clouds>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>Tous</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>C++</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>BackEnd-Apps</string>
        <string>BackEnd-Common</string>
        <string>BackEnd-Configuration</string>
        <string>BackEnd-FungibleRevaluation</string>
        <string>BackEnd-Infra</string>
        <string>BackEnd-Position</string>
        <string>BackEnd-Tools</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Java GUI</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>J2ee</string>
        <string>Presentation Server</string>
        <string>Presentation Server Sample</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Java BackEnd</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>BackEnd Application</string>
        <string>BackEnd Common</string>
        <string>BackEnd Presentation Business</string>
        <string>BackEnd Presentation Common</string>
        <string>BackEnd Service</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Main</name>
      <filterExecutors>true</filterExecutors>
      <filterQueue>true</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>BackEnd Plugins</string>
        <string>Build Tools</string>
        <string>Cygwin Environment Settings</string>
        <string>Main Project Settings</string>
        <string>Nabla Main Project Settings</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Nabla</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Nabla Cygwin Environment Settings</string>
        <string>Nabla Databases</string>
        <string>Nabla Main</string>
        <string>Nabla Main Project Settings</string>
        <string>Nabla UML</string>
        <string>Nabla-CMake-Bat</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn>
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <org.tomfolga.PomDependenciesWithinGroupIdColumn>
          <onlyWithinGroupId>true</onlyWithinGroupId>
          <columnName>Maven Dependencies (within groupId)</columnName>
        </org.tomfolga.PomDependenciesWithinGroupIdColumn>
        <org.tomfolga.PomModulesFullColumn>
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>MDA</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>BackEnd Businessobjects MDA</string>
        <string>BackEnd Cartdridge MDA</string>
        <string>BackEnd Common MDA</string>
        <string>BackEnd Rules MDA</string>
        <string>BackEnd Staticdata MDA</string>
        <string>BackEnd Validation MDA</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesFullColumn>
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
      </columns>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>Nabla Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Nabla Cygwin Environment Settings</string>
        <string>Nabla Databases</string>
        <string>Nabla Main</string>
        <string>Nabla Main Project Settings</string>
        <string>Nabla UML</string>
        <string>Nabla-CMake</string>
        <string>Nabla-CMake-Bat</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn>
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <org.tomfolga.PomDependenciesWithinGroupIdColumn>
          <onlyWithinGroupId>true</onlyWithinGroupId>
          <columnName>Maven Dependencies (within groupId)</columnName>
        </org.tomfolga.PomDependenciesWithinGroupIdColumn>
        <org.tomfolga.PomDependenciesColumn>
          <onlyWithinGroupId>false</onlyWithinGroupId>
          <columnName>Maven Dependencies</columnName>
        </org.tomfolga.PomDependenciesColumn>
        <org.tomfolga.PomModulesFullColumn>
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
      </columns>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_22</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
        <hudson.plugins.view.dashboard.test.TestTrendChart>
          <id>dashboard_portlet_23</id>
          <name>Test Trend Chart</name>
          <graphWidth>300</graphWidth>
          <graphHeight>220</graphHeight>
          <dateRange>0</dateRange>
        </hudson.plugins.view.dashboard.test.TestTrendChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_24</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_25</id>
          <name>Test Statistics Grid</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
        <hudson.plugins.emma.portlet.grid.EmmaBuilderGrid>
          <id>dashboard_portlet_26</id>
          <name>Emma Coverage Statistics Grid</name>
        </hudson.plugins.emma.portlet.grid.EmmaBuilderGrid>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.analysis.collector.dashboard.WarningsNewVersusFixedGraphPortlet>
          <id>dashboard_portlet_27</id>
          <name>Warnings trend graph (new vs. fixed)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.analysis.collector.dashboard.WarningsNewVersusFixedGraphPortlet>
        <hudson.plugins.analysis.collector.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_28</id>
          <name>Warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.analysis.collector.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.checkstyle.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_29</id>
          <name>Checkstyle warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.checkstyle.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.dry.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_30</id>
          <name>Duplicate code trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.dry.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.findbugs.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_31</id>
          <name>FindBugs warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.findbugs.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.pmd.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_32</id>
          <name>PMD warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.pmd.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.warnings.dashboard.WarningsNewVersusFixedGraphPortlet>
          <id>dashboard_portlet_33</id>
          <name>Compiler warnings trend graph (new vs. fixed)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
          <actionSelector>
            <parserName>AcuCobol Compiler</parserName>
          </actionSelector>
        </hudson.plugins.warnings.dashboard.WarningsNewVersusFixedGraphPortlet>
        <hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_34</id>
          <name>Compiler warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
          <actionSelector>
            <parserName>AcuCobol Compiler</parserName>
          </actionSelector>
        </hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          <id>dashboard_portlet_19</id>
          <name>Unstable Jobs</name>
        </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_20</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
        <hudson.plugins.view.dashboard.core.JobsPortlet>
          <id>dashboard_portlet_21</id>
          <name>Jobs Grid</name>
        </hudson.plugins.view.dashboard.core.JobsPortlet>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_35</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_36</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Thirdparty</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Boost</string>
        <string>Corba</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn>
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <org.tomfolga.PomDependenciesWithinGroupIdColumn>
          <onlyWithinGroupId>true</onlyWithinGroupId>
          <columnName>Maven Dependencies (within groupId)</columnName>
        </org.tomfolga.PomDependenciesWithinGroupIdColumn>
        <org.tomfolga.PomDependenciesColumn>
          <onlyWithinGroupId>false</onlyWithinGroupId>
          <columnName>Maven Dependencies</columnName>
        </org.tomfolga.PomDependenciesColumn>
        <org.tomfolga.PomModulesFullColumn>
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
      </columns>
    </listView>
  </views>
  <primaryView>Nabla Dashboard</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/listView[7]/jobNames/comparator"/>
          </default>
          <int>11</int>
          <string>ANT_HOME</string>
          <string>C:\apache-ant-1.8.0</string>
          <string>CYGWIN_HOME</string>
          <string>C:\cygwin</string>
          <string>JAVA_HOME</string>
          <string>C:\Sun\SDK\jdk</string>
          <string>JAVA_OPTS</string>
          <string>-Xms128m -Xmx1024m</string>
          <string>JBOSS_HOME</string>
          <string>C:\jboss-4.2.2.GA</string>
          <string>KPLUS_ROOT</string>
          <string>C:\thirdparty\kondor</string>
          <string>KPLUSTP_DEV</string>
          <string>C:\workspace\users\albandri30\ktpplus</string>
          <string>KPLUSTP_OBJ</string>
          <string>C:\target</string>
          <string>LUMBERMILL_HOME</string>
          <string>C:\lumbermill-2.0-b3</string>
          <string>MAVEN_HOME</string>
          <string>C:\apache-maven-2.2.1</string>
          <string>THIRDPARTY_ROOT</string>
          <string>C:\thirdparty</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.UpdateCenterChooser</string>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
</hudson>