<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.2.0</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <configuredWorkspaceRoot></configuredWorkspaceRoot>
  <jdks>
    <jdk>
      <name>JDK 6</name>
      <home>C:\Sun\SDK\jdk</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.virtualbox.VirtualBoxCloud>
      <name>Ubuntu</name>
      <url>localhost</url>
      <username>albandri</username>
      <password>QmFuYm91MDE=</password>
    </hudson.plugins.virtualbox.VirtualBoxCloud>
  </clouds>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>Tous</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Nabla</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Nabla Databases</string>
        <string>Nabla Main</string>
        <string>Nabla UML</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn>
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <org.tomfolga.PomDependenciesWithinGroupIdColumn>
          <onlyWithinGroupId>true</onlyWithinGroupId>
          <columnName>Maven Dependencies (within groupId)</columnName>
        </org.tomfolga.PomDependenciesWithinGroupIdColumn>
        <org.tomfolga.PomModulesFullColumn>
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
      </columns>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>Nabla Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Nabla Databases</string>
        <string>Nabla Main</string>
        <string>Nabla UML</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn/>
        <org.tomfolga.PomModulesShortColumn>
          <columnName>Maven Modules (Short)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesShortColumn>
        <org.tomfolga.PomModulesVersionColumn>
          <columnName>Maven Modules (Version)</columnName>
          <showGroupId>false</showGroupId>
          <showArtifactId>false</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesVersionColumn>
        <org.tomfolga.PomDependenciesWithinGroupIdColumn>
          <onlyWithinGroupId>true</onlyWithinGroupId>
          <columnName>Maven Dependencies (within groupId)</columnName>
        </org.tomfolga.PomDependenciesWithinGroupIdColumn>
        <org.tomfolga.PomDependenciesColumn>
          <onlyWithinGroupId>false</onlyWithinGroupId>
          <columnName>Maven Dependencies</columnName>
        </org.tomfolga.PomDependenciesColumn>
        <org.tomfolga.PomModulesFullColumn>
          <columnName>Maven Modules (Full)</columnName>
          <showGroupId>true</showGroupId>
          <showArtifactId>true</showArtifactId>
          <showVersion>true</showVersion>
        </org.tomfolga.PomModulesFullColumn>
      </columns>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
          <id>dashboard_portlet_4</id>
          <name>Code Coverages</name>
        </hudson.plugins.cobertura.dashboard.CoverageTablePortlet>
        <hudson.plugins.view.dashboard.test.TestTrendChart>
          <id>dashboard_portlet_5</id>
          <name>Test Trend Chart</name>
          <graphWidth>300</graphWidth>
          <graphHeight>220</graphHeight>
          <dateRange>0</dateRange>
        </hudson.plugins.view.dashboard.test.TestTrendChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsChart>
          <id>dashboard_portlet_6</id>
          <name>Test Statistics Chart</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsChart>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_7</id>
          <name>Test Statistics Grid</name>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
        <hudson.plugins.emma.portlet.grid.EmmaBuilderGrid>
          <id>dashboard_portlet_8</id>
          <name>Emma Coverage Statistics Grid</name>
        </hudson.plugins.emma.portlet.grid.EmmaBuilderGrid>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.analysis.collector.dashboard.WarningsNewVersusFixedGraphPortlet>
          <id>dashboard_portlet_9</id>
          <name>Warnings trend graph (new vs. fixed)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.analysis.collector.dashboard.WarningsNewVersusFixedGraphPortlet>
        <hudson.plugins.analysis.collector.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_10</id>
          <name>Warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.analysis.collector.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.checkstyle.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_11</id>
          <name>Checkstyle warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.checkstyle.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.dry.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_12</id>
          <name>Duplicate code trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.dry.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.findbugs.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_13</id>
          <name>FindBugs warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.findbugs.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.pmd.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_14</id>
          <name>PMD warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.pmd.dashboard.WarningsPriorityGraphPortlet>
        <hudson.plugins.warnings.dashboard.WarningsNewVersusFixedGraphPortlet>
          <id>dashboard_portlet_15</id>
          <name>Compiler warnings trend graph (new vs. fixed)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.warnings.dashboard.WarningsNewVersusFixedGraphPortlet>
        <hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
          <id>dashboard_portlet_16</id>
          <name>Compiler warnings trend graph (priority distribution)</name>
          <width>500</width>
          <height>200</height>
          <dayCountString>30</dayCountString>
        </hudson.plugins.warnings.dashboard.WarningsPriorityGraphPortlet>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          <id>dashboard_portlet_1</id>
          <name>Unstable Jobs</name>
        </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_2</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
        <hudson.plugins.view.dashboard.core.JobsPortlet>
          <id>dashboard_portlet_3</id>
          <name>Jobs Grid</name>
        </hudson.plugins.view.dashboard.core.JobsPortlet>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_17</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_18</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>Tous</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/hudson.plugins.view.dashboard.Dashboard/jobNames/comparator"/>
          </default>
          <int>11</int>
          <string>ANT_HOME</string>
          <string>C:\apache-ant-1.8.0</string>
          <string>CYGWIN_HOME</string>
          <string>C:\cygwin</string>
          <string>JAVA_HOME</string>
          <string>C:\Sun\SDK\jdk</string>
          <string>JAVA_OPTS</string>
          <string>-Xms128m -Xmx1024m</string>
          <string>JBOSS_HOME</string>
          <string>C:\jboss-4.2.2.GA</string>
          <string>KPLUS_ROOT</string>
          <string>C:\thirdparty\kondor</string>
          <string>KPLUSTP_DEV</string>
          <string>C:\workspace\users\albandri30\ktpplus</string>
          <string>KPLUSTP_OBJ</string>
          <string>C:\target</string>
          <string>LUMBERMILL_HOME</string>
          <string>C:\lumbermill-2.0-b3</string>
          <string>MAVEN_HOME</string>
          <string>C:\apache-maven-2.2.1</string>
          <string>THIRDPARTY_ROOT</string>
          <string>C:\thirdparty</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.UpdateCenterChooser</string>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
</hudson>