<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-plugins-svn_tag-SvnTagPublisher</string>
      <external-property>
        <originalValue class="hudson.plugins.svn_tag.SvnTagPublisher">
          <tagBaseURL>http://subversion_host/project/tags/last-successful/${env[&apos;JOB_NAME&apos;]}</tagBaseURL>
          <tagComment>Tagged by Jenkins svn-tag plugin. Build:${env[&apos;BUILD_TAG&apos;]}.</tagComment>
          <tagDeleteComment>Delete old tag by svn-tag Jenkins plugin.</tagDeleteComment>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-tasks-TasksPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-dry-DryPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-checkstyle-CheckStylePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>blockBuildWhenDownstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">true</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-plugins-performance-PerformancePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
      <base-property>
        <originalValue class="hudson.plugins.disk_usage.DiskUsageProperty"/>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-SnapshotTrigger</string>
      <trigger-property>
        <originalValue class="maven-snapshot-trigger">
          <spec></spec>
          <excludeInternallyProduced>false</excludeInternallyProduced>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>org-jenkinsci-plugins-xunit-XUnitPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
      <base-property>
        <originalValue class="watched-dependencies-property"/>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>org-jvnet-hudson-plugins-SSHBuildWrapper</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-javancss-JavaNCSSPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-googlecode-GoogleCodeProjectProperty</string>
      <base-property>
        <originalValue class="hudson.plugins.googlecode.GoogleCodeProjectProperty">
          <googlecodeWebsite>https://code.google.com/p/alban/</googlecodeWebsite>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>gcal-gcalPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-pmd-PmdPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-dbcharts-DbChartPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-violations-ViolationsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scmCheckoutRetryCount</string>
      <integer-property>
        <propertyOverridden>false</propertyOverridden>
      </integer-property>
    </entry>
    <entry>
      <string>hudson-plugins-emma-EmmaPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>blockBuildWhenUpstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">true</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyNotifier</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-git-GitPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactArchiver</string>
      <external-property>
        <originalValue class="maven-artifact-archiver">
          <includePomArtifacts>true</includePomArtifacts>
          <deleteOldArchiveArtifacts>true</deleteOldArchiveArtifacts>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Mailer</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">true</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-test-AggregatedTestResultPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-junit-JUnitResultArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Fingerprinter</string>
      <external-property>
        <originalValue class="hudson.tasks.Fingerprinter">
          <targets>servers/sample/**/target/*.war</targets>
          <recordBuildArtifacts>true</recordBuildArtifacts>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-sonar-SonarPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-analysis-collector-AnalysisPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList"/>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>hudson-tasks-JavadocArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.JavadocArchiver">
          <javadocDir>target/site/apidocs/</javadocDir>
          <keepAll>false</keepAll>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-plot-PlotPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-warnings-WarningsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>customWorkspace</string>
      <string-property>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>quietPeriod</string>
      <integer-property>
        <propertyOverridden>false</propertyOverridden>
      </integer-property>
    </entry>
    <entry>
      <string>org-jenkinsci-plugins-dostrigger-DosTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-tasks-BuildTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-SCMTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <maven-builder>
            <config>
              <installationId>Maven-3.0.4</installationId>
              <goals>-Dsurefire.useFile=false clean install</goals>
              <privateRepository>false</privateRepository>
              <privateTmpdir>false</privateTmpdir>
              <pomFile>pom.xml</pomFile>
              <properties>
                <entries/>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <profiles>
                <string>sample</string>
              </profiles>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <mavenOpts>-Xms256m -Xmx1024m -XX:PermSize=80M -XX:MaxPermSize=256M</mavenOpts>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
          <maven-builder>
            <config>
              <installationId>Maven-3.0.4</installationId>
              <goals>javadoc:aggregate</goals>
              <privateRepository>false</privateRepository>
              <privateTmpdir>false</privateTmpdir>
              <pomFile>pom.xml</pomFile>
              <properties>
                <entries/>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <mavenOpts>-Xms256m -Xmx1024m -XX:PermSize=80M -XX:MaxPermSize=256M</mavenOpts>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
          <maven-builder>
            <config>
              <installationId>Maven-3.0.4</installationId>
              <goals>source:aggregate</goals>
              <privateRepository>false</privateRepository>
              <privateTmpdir>false</privateTmpdir>
              <pomFile>pom.xml</pomFile>
              <properties>
                <entries/>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <mavenOpts>-Xms256m -Xmx1024m -XX:PermSize=80M -XX:MaxPermSize=256M</mavenOpts>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
          <maven-builder>
            <config>
              <installationId>Maven-3.0.4</installationId>
              <goals>site</goals>
              <privateRepository>false</privateRepository>
              <privateTmpdir>false</privateTmpdir>
              <pomFile>pom.xml</pomFile>
              <properties>
                <entries/>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <profiles>
                <string>sample</string>
              </profiles>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <mavenOpts>-Xms256m -Xmx1024m -XX:PermSize=80M -XX:MaxPermSize=256M</mavenOpts>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-testng-Publisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>jdk</string>
      <string-property>
        <originalValue class="string">JDK 7</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>appointedNode</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>concurrentBuild</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.ArtifactArchiver">
          <artifacts>servers/sample/**/target/*.war, **/*-sources.jar</artifacts>
          <compressionType>GZIP</compressionType>
          <latestOnly>false</latestOnly>
          <autoValidateFileMask>false</autoValidateFileMask>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyTrigger</string>
      <trigger-property>
        <originalValue class="maven-dependency-trigger">
          <spec></spec>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-plugins-doxygen-DoxygenArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-jdepend-JDependRecorder</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.plugins.googlecode.scm.GoogleCodeSCMEx">
          <locations>
            <hudson.scm.SubversionSCM_-ModuleLocation>
              <remote>https://alban.googlecode.com/svn/trunk</remote>
              <local>.</local>
              <depthOption>infinity</depthOption>
              <ignoreExternalsOption>false</ignoreExternalsOption>
            </hudson.scm.SubversionSCM_-ModuleLocation>
          </locations>
          <browser class="hudson.plugins.googlecode.GoogleCodeRepositoryBrowser"/>
          <excludedRegions></excludedRegions>
          <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
          <directory>trunk</directory>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
    <entry>
      <string>hudson-plugins-findbugs-FindBugsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactFingerprinter</string>
      <external-property>
        <originalValue class="maven-artifact-fingerprinter"/>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-TimerTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-plugins-release-ReleaseWrapper</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <creationTime>1351827273890</creationTime>
  <properties/>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>hudson-plugins-googlecode-GoogleCodeProjectProperty</string>
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders/>
</project>