
/*
* signon.jsp
*/ 
.ltitle {
	color: #ffffff;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 36px;
	text-indent: 15px;
}

.lproductname1 {
	font-family: Tahoma;
	font-weight: normal;
	font-size: 24px;
	color: #EB6531;
	text-indent: 15px;
}

.lproductname2 {
	font-family: Tahoma;
	font-weight: normal;
	font-size: 24px;
	color: #ffffff;
}

TABLE.lmain,TABLE.loginmain {
	border: 1px solid #ADADAD;
	height: 360px;
	width: 700px;
}

TABLE.lbi,TABLE.loginbackgroundimage {
	/*background-image:url(__defaultIMGPath__backgroundLogin-gradient.png);
	background-repeat: repeat-y;*/
	filter:'progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#00032a, EndColorStr=#00A8e8 , GradientType=1)';
	height: 300px;
	width: 510px;
}

.lis,.logininputsection {
	background-color: #D6D9DC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ADADAD;
}

TABLE.llt,TABLE.loginlogintable {
	padding-left: 14px;
	padding-right: 11px;
	height: 360px;
	width: 188px;
}

.lilr-1,.logininputlinkright-1 {
	color: #000099;
	font-family: Tahoma;
	font-weight: normal;
	text-align: RIGHT;
	font-size: 11px;
	padding-top: 7px;
	vertical-align: top;
}

.lilr-2,.logininputlinkright-2 {
	color: #000099;
	font-family: Tahoma;
	font-weight: normal;
	text-align: RIGHT;
	font-size: 11px;
	padding-top: 4px;
	vertical-align: middle;
}

INPUT.ltextbox,INPUT.ltb {
	border: 1px solid #7F9DB9;
	color: #000000;
	font-family: Tahoma;
	font-weight: normal;
	text-align: left;
	font-size: 11px;
}

.lbutton,.loginbutton {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	cursor: hand;
}

.ic,.inputcell {
	vertical-align: middle;
	height: 1px;
}

A.help,A.help:active,A.help:visited {
	color: #000099;
	text-decoration: none;
}

A.help:hover {
	color: #ff9900;
	text-decoration: underline;
}

.lls,.loginlegalstatement {
	color: #666666;
	font-family: tahoma;
	font-weight: normal;
	font-size: 10px;
	height: 100%;
	vertical-align: bottom;
	padding-bottom: 13px;
}

.ltdl,logintextdataleft {
	color: #707070;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-top: 16px;
	padding-bottom: 19px;
}

.lrdl,.loginrowheaderleft {
	color: #000000;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align: bottom;
	height: 1px;
	padding-top: 2px;
}

.lrpc,.loginrememberpasswordcell {
	color: #000000;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align: middle;
	height: 1px;
	padding-top: 6px;
}

.llbc,.loginbuttoncell {
	padding-top: 13px;
	padding-right: 18px;
	height: 1px;
}

.lfdl,.loginfooterdataleft {
	color: #666666;
	font-family: tahoma;
	font-weight: normal;
	font-size: 10px;
	vertical-align: middle;
	text-align: left;
	height: 1px;
}

.lfdr,.loginfooterdataright {
	color: #666666;
	font-family: tahoma;
	font-weight: normal;
	font-size: 10px;
	vertical-align: bottom;
	text-align: right;
	height: 1px;
}

.lfsc,.loginfooterspacercell {
	color: #666666;
	font-family: tahoma;
	font-weight: normal;
	font-size: 5px;
	vertical-align: bottom;
	text-align: right;
	height: 5px;
}

.lft,.lfootertable {
	padding-left: 10px;
	padding-right: 18px;
	height: 60px;
	width: 510px;
	background-color: #ffffff;
}

.lec,.loginerrorcell {
	color: #FF0000;
	font-family: tahoma;
	font-weight: bold;
	font-size: 9px;
	vertical-align: bottom;
	text-align: left;
	padding-top: 10px;
}

.llic,.loginloadingimagecell {
	vertical-align: bottom;
	padding-left: 26px;
	padding-bottom: 20px;
}

.lpdc,.loginpercentagedonecell {
	vertical-align: bottom;
	color: #666666;
	font-family: tahoma;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding-bottom: 27px;
	width: 100%;
}

.lltc,.loginloadingtextcell {
	vertical-align: bottom;
	color: #666666;
	font-family: tahoma;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	padding-right: 45px;
	padding-bottom: 3px;
	width: 100%;
}

.llmd,.loginloadingmessagediv {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-family: tahoma;
	font-size: 12pt;
	width: 450px;
	height: 250px;
	top: 160px;
	left: 60px;
	border: 1px solid #000000;
	text-align: center;
	vertical-align: middle;
	background-color: #eeeeee;
	filter:'progid:DXImageTransform.Microsoft.alpha(opacity=85) progid:DXImageTransform.Microsoft.Shadow(positive=false, color=#FF404040,direction=135)';
}

.llmdt,.loginloadingmessagedivtext {
	position: relative;
	top: 110px;
	filter: 'progid:DXImageTransform.Microsoft.DropShadow(enabled=false)';
}



/*
* common.css
*/ /*helpList.xsl*/
.helpListStatus {
	width: 100%;
	height: 18px;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	background-color: #EFEFEF;
	border: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9e9e9e;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9e9e9e;
	padding-left: 3px;
	padding-right: 3px;
}

.helpListContent {
	border-width: 1px;
	border-style: solid;
	border-color: #9e9e9e;	
}

/*navigation.xsl*/
.navigationTitlebarSeparator {
	width: 2px;
	background-color: transparent;
	background-image: url(images/kiwi/navigation/titlebar_separator.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.navigationWorkbookSeparator {
	width: 2px;
	background-color: transparent;
	background-image: url(images/kiwi/navigation/worksheet_separator.gif);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	display: inline;
}

.navigationWorksheetSeparator {
	width: 1px;
	background-color: transparent;
	background-image: url(images/kiwi/navigation/worksheet_separator.gif);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	display: inline;
}

.navigationWorbookTabSeparatorLeft {
	width: 6px;
	height: 27px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image:
		url(__defaultIMGPath__workbook_leftUnselected.png);
	/*background-position: 100% 1px;*/
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.navigationWorbookTabSeparatorRight {
	width: 6px;
	height: 27px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image:
		url(__defaultIMGPath__workbook_rightUnselected.png);
	/*background-position: 100% 1px;*/
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.navigationWorkbookTabBackground {
	background-color: transparent;
	background-image:
		url(__defaultIMGPath__workbook_background.png);
	/*width:100%;
	height:27px;
	background-color: #ff0000;
	border-bottom-color: #000000;
	border-bottom-width:1px;
	border-bottom-style:solid;*/
}

.navigationWorkbookTabUnselected {
	width: 1px;
	height: 27px;
	background-color: transparent;
	background-repeat: repeat-x;
	background-image:
		url(__defaultIMGPath__workbook_middleUnselected.png);
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.navigationWorkbookTabSelected {
	width: 1px;
	height: 27px;
	background-color: transparent;
	background-repeat: repeat-x;
	background-image:
		url(__defaultIMGPath__workbook_middleSelected.png);
	/*background-position: 100% 1px;*/
}

.navigationWorbookTabLeftSelected {
	width: 6px;
	height: 27px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image:
		url(__defaultIMGPath__workbook_leftSelected.png);
	background-position: 100% 1px;
}

.navigationWorbookTabRightSelected {
	width: 6px;
	height: 27px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image:
		url(__defaultIMGPath__workbook_rightSelected.png);
	background-position: 100% 1px;
}

.navigationWorksheetGroupMenu,.worksheetBodyMoreMenu {
	background-color: #F0F4F9;
}

/*tabs.xsl*/
.tabsRemainingSpace {
	background-image:url(__defaultIMGPath__tabContainerworksheetBackground.png);
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: 100% 3px;
}

.tabsLeft {
	width: 1px;
	height: 18px;
	background-color: transparent;
	background-image:url(__defaultIMGPath__tab_left_1x18.gif);
	background-repeat: no-repeat;
}

.tabsUnselectedRight {
	width: 6px;
	height: 18px;
	background-color: transparent;
	background-image:url(__defaultIMGPath__tab_unselected_right_6x18.gif);
	background-repeat: no-repeat;
}


.tabsSelectedRight {
	width: 6px;
	height: 18px;
	background-image:url(__defaultIMGPath__tab_selected_right_6x18.gif);
	background-repeat: no-repeat;
}

.selectedTabCell {
	background-image:url(__defaultIMGPath__tabContainermiddleSelected.png);
}

.tabsDisabled {
	color: #999999;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 6px;
	padding-top: 8px;
}

.tabsSelectedDisabled {
	color: #888888;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 6px;
	padding-top: 8px;
	height: 100%;
}

/*.tabCell {	
	background-image:url(images/new/containers/tabs/tabContainermiddleUnselected.png);	
}*/ /*command.xsl*/
.commandImgButton {
	vertical-align: middle;
	margin-right: 3px;
}

/*matrix.xsl*/
.matrixHeaderColumns {
	overflow: hidden;
	width: 17px;
	background-color: #D2DDED;
	border-left-width: 1px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
}

.matrixHeaderRows {
	overflow: hidden;
	height: 16px;
	background-color: #D2DDED;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.matrixSubMatrixSelected {
	color: #FFFFFF;
	background-color: #000000;
}

.matrixSubMatrixUnselected {
	color: none;
	background-color: none;
}

/*table.xsl treeTable.xsl */
	/* modif "First Last" disabled not underlined*/
a.tableNavigationLinkUnavailable {
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	cursor: default;
	text-decoration: none;
}

/*
*containers.css
*/ /*common*/
.containerTitleBarTable {
	background-color: #CCCCCC;
	border: 1px solid #9E9E9E;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	height: 18px;
}

.containerTitleBarTablefocused {
	background-color: #2E3092;
	border-width: 1px;
	border-style: solid;
	border-color: #9E9E9E;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	height: 18px;
}

.containerTitleBarLeftCell {
	width: 21px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

.containerTitleBarMiddleCell {
	width: 100%;
	overflow: hidden;
	color: #3D4D59;
}

.containerTitleBarRightCell {
	width: 21px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

/* Container Content Border */
.containerContentBorder {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9E9E9E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9E9E9E;
}

.containerContentTopBorder {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9E9E9E;
}

.containerContentBottomBorder {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9E9E9E;
}

/*transparent*/
.transparentToolbar {
	width: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9E9E9E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9E9E9E;
}


/*static*/
.staticToolbar {
	width: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9E9E9E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9E9E9E;
}

/*expandable*/
.expandableToolbar {
	width: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9E9E9E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9E9E9E;
}

.expandableTitle {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #3D4D59;
	cursor: hand;
}

.expandableTitlefocused {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
	background-color: #2E3092;
	cursor: hand;
}

/*tabs*/
.tabsBar {
	background-color: #FFFFFF;
	width: 100%;
	height: 24px;
}

.selectedTab {
	color: #0066CC;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 6px;
	padding-top: 8px;
	height: 100%;
}

.selectedTab:hover   , .selectedTab:active {
	color: #FF6600;
}

.tab {
	color: #000000;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 6px;
	padding-top: 8px;
	height: 100%;
}

.tab:hover   , .tab:active {
	color: #FF6600;
	font-weight: regular;
}

.tabToolbar {
	width: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9E9E9E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9E9E9E;
}



/*window*/
.windowTitle {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #3D4D59;
	padding-right: 1px;
	padding-left: 6px;
}

.windowTitlefocused {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	padding-right: 1px;
	padding-left: 6px;
}

.windowToolbar {
	width: 100%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9E9E9E;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9E9E9E;
}


/*left menu*/
.leftNavigation {
	behavior: url(htc/leftnavigation.htc);
	margin: 2px;
	font-family: tahoma;
	font-weight: regular;
	font-size: 11px;
	color: #333333;
	background-color: #F0F4F9;
	border-width: 1px;
	border-style: outset;
	border-color: #CCCCCC;
}

.leftNavigationTitle {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	height: 19px;
	padding-left: 7px;
	padding-top: 2px;
	color: #FFFFFF;
	background-color: #8B949B;
	/* border-left: 2px inset #3D4D59;*/
	border-top-style: outset;
	border-top-width: 1px;
	border-top-color: #3D4D59;
	border-right-style: outset;
	border-right-width: 1px;
	border-right-color: #3D4D59;
	border-left-style: outset;
	border-left-width: 1px;
	border-left-color: #3D4D59;
}



.leftNavigationItem {
	height: 21px;
	font-family: tahoma;
	font-weight: regular;
	font-size: 11px;	
	background-color: #FFFFFF;
	padding-left: 21px;
	padding-top: 2px;
	color: #0066CC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C9CD;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C9CD;
}


.leftNavigationItemSelected {
	height: 21px;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;		
	background-color: #FFFFFF;
	padding-left: 21px;
	padding-top: 2px;
	color: #3384D6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C9CD;
}


.leftNavigationItemGroup {
	height: 19px;
	padding-left: 21px;
	padding-top: 2px;
	font-family: tahoma;
	font-weight: regular;
	font-size: 11px;		
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C9CD;
	background-image: url('images/kiwi/containers/leftMenu/right-arrow.gif')
		;
	background-repeat: no-repeat;
	background-position: 5px center
}

.leftNavigationItemGroupSelected {
	height: 19px;
	padding-left: 21px;
	padding-top: 2px;
	color: #0066CC;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;		
	background-color: #C4C9CD;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C9CD;
	background-image: url("images/kiwi/containers/leftMenu/down-arrow.gif");
	background-repeat: no-repeat;
	background-position: 5px center
}







.leftNavigationSubItem {
	height: 21px;
	font-family: tahoma;	
	font-size: 11px;	
	font-weight: regular;
	background-color: #ffffff;
	padding-left: 27px;
	padding-top: 2px;
	color: #0066CC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C9CD;
}

.leftNavigationSubItemSelected {
	height: 21px;
	font-family: tahoma;	
	font-size: 11px;
	font-weight: bold;
	background-color: #EBEDEE;
	padding-left: 27px;
	padding-top: 2px;
	color: #3384D6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C9CD;
}

.navAnchorItem {
	color: #333333;
	text-decoration: none;
	cursor: hand;
}

.navAnchorItem:hover {
	color: #FFCC00;
}

.navAnchorItemSelected {
	text-decoration: none;
	color: #0066CC;
	cursor: hand;
}

.navAnchorItemSelected:hover {
	color: #FFCC00;
}


/*header*/
.headerContainer {
	width: 100%;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9E9E9E;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9E9E9E;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	display: inline;
	overflow: hidden;
}

/*toolbar*/
.ToolBarContainerSmall {
	width: 100%;
	height: 20px;
	background-color: #E5E9EF;
	border-style: solid;
	border-width: 1px;
	border-color: #CDCDCD;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.ToolBarTable {
	width: 100%;
	height: 29px;
	/*background: transparent url(images/kiwi/toolBar/toolbar.png);*/
	background-color: #e5e9ef;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #9e9e9e;
}

.ToolBarTableSmall {
	vertical-align: middle;
	height: 18px;
}

.ToolBarControl {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align: middle;
	white-space: nowrap;
	color:#000000;
}

.ToolBarControl A,.ToolBarControl A:visited {
	color: #323242;
	text-decoration: none;
}

.ToolBarControl A:hover {
	color: #eb6531;
	text-decoration: none;
}

.ToolBarControlLink, .ToolBarControlLink:visited
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align: middle;
	white-space: nowrap;	
	color: #323242;
	text-decoration: none;
}

.ToolBarControlLink:hover
{
	color: #eb6531;
	text-decoration: none;
}

/*title bar*/
.titleBar {
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	background-color: #ffffff;
	color: #000000;
	padding-left: 3px;
	padding-right: 3px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #CCCCCC;
}

.titleBarsolid {
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	background-color: #CCCCCC;
	color: #000000;
	padding-left: 3px;
	padding-right: 3px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #9E9E9E;
}

.titleBarnoborder {
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	background-color: #ffffff;
	color: #000000;
	padding-left: 3px;
	padding-right: 3px;
	width: 100%;
}

/*others
.TitleBar {
	font-weight: bold;
	font-size: 8pt;
	font-family: Tahoma;
	background-color: transparent;
	padding-left: 3px;
	padding-right: 3px;
	width: 100%;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: none;
}*/

/*
*controls.css
*/ /*fieldset*/
FIELDSET {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
}

/*window classic*/

INPUT.inputNumber
{
	text-align: right;
}

INPUT.inputString
{
	
}

INPUT.inputDate
{
	
}

INPUT.inputCalculator
{
	
}

INPUT.inputHelpGroup
{
}

INPUT.inputColorPicker
{
}

INPUT.inputHelpGroupSize2index0
{
	width: 99px;
}

INPUT.inputHelpGroupSize2index1
{
	width: 251px;
}

INPUT.inputHelpGroupSize3index0
{
	width: 99px;
}

INPUT.inputHelpGroupSize3index1
{
	width: 210px;
}

INPUT.inputHelpGroupSize3index2
{
	width: 40px;
}

.inputReadOnly
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	margin-left: 8px;
	padding-top: 5px;
	overflow: hidden;
	text-align: left;	
	height: 19px;
	color: #000000;
}

/*************
 *   INPUT   *
 *************/

.input
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	margin-left: 1px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F9DB9;
	color: #000000;
	background-color: #FFFFFF;
}

.inputInToolBar
{
	padding-top: 3px;
}

.inputDefaultWidth
{
	width: 99px;
}

.inputDefaultLongWidth
{
	width: 351px;
}

.inputDefaultTextareaSize
{
	width: 351px;
	height: 64px;
}

.inputMandatory
{
}

.inputOptional
{
}

.inputDisabled
{
	border-color: #808080;
	color: #808080;
}

.globalData
{	
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #7F9DB9;
}

.globalDataDisabled
{
	border-right-color: #808080;
}
/****************
 *   TEXTAREA   *
 ****************/

.textarea
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	margin-left: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F9DB9;
	color: #000000;
	background-color: #FFFFFF;
}

.textareaDefaultSize
{
	width: 351px;
	height: 64px;
}

.textareaMandatory
{
}

.textareaOptional
{
}

.textareaDisabled
{
	border-color: #808080;
	color: #808080;
}

/****************
 *   CHECKBOX   *
 ****************/

.checkbox
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	margin-left: 1px;
	color: #000000;
	background-color: #FFFFFF;
}

.checkboxDefaultWidth
{
	width: 141px;
}

.checkboxMandatory
{
}

.checkboxOptional
{
}

/* Bug kpls772 - put same color as main toolbar */
.checkboxInToolBar
{
}

.checkboxDisabled
{
	color: #808080;
}

/*************
 *   LABEL   *
 *************/

.label
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	margin-right: 6px;
	padding-top: 5px;
	overflow: hidden;
	text-align: right;			
}

.labelDefaultWidth
{
	width: 100px;
}

.labelDefaultHeight
{
	height: 19px;
}

.labelMandatory
{
	color: #000000;
}

.labelOptional
{
	color: #000099;
}

.labelDisabled
{
	color: #808080;
}

/************
 *   UNIT   *
 ************/

.unit
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	overflow: hidden;
	text-align: left;
	height: 19px;
}

.unitDefaultWidth
{
	width: 41px;
}

.unitText
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	margin-left: 3px;
	padding-top: 3px;
	overflow: hidden;
	text-align: left;
	height: 19px;
	color: #000099;
}

unitTextMandatory
{
	color: #000000;
}

.unitTextOptional
{
	color: #000000;
}

.unitTextDisabled
{
	color: #808080;
}

.unitTextInToolBar
{
	padding-top: 6px;
}


.chart {
	behavior: url(htc/chart.htc);
	border-style: solid;
	border-width: 1px;
	border-left-color: #9999CC;
	border-top-color: #9999CC;
	border-right-color: #666699;
	border-bottom-color: #666699;
}

/*tree*/
.treeNode {
	font-family: tahoma;
	font-weight: normal;
	font-size: 8pt;
	cursor: hand;
}

.treeNodeLabel {
	height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 3px;
	padding-bottom: 2px;
	color:#000000;
}

.treeNodeLabelSelected {
	height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #AAAAFF;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 3px;
	padding-bottom: 2px;
	color: #000000;
	background-color: #F5F5F5;
}

/*query*/
.queryLabel {
	font-family: tahoma;
	font-weight: normal;
	font-weight: bold;
	font-size: 13px;
	color: #000099;
}

/*comboBox*/
.comboBox {
	behavior: url(htc/comboBox.htc);

}



.comboBoxPopupMenu {
	behavior: url(htc/comboBoxPopupMenu.htc);
	cursor: default;
	position: absolute;
	z-index: 100;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	display: none;
}

.comboBoxPopupMenuItem {
	behavior: url(htc/comboBoxPopupMenuItem.htc);
	padding-left: 4px;
	border-right-width: 4px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	width: 100%;
	height: 14px;
	overflow: hidden;
	color: #000000;
	background-color: #FFFFFF;
}

.comboBoxPopupMenuItemSelected {
	behavior: url(htc/comboBoxPopupMenuItem.htc);
	padding-left: 4px;
	border-right-width: 4px;
	border-right-style: solid;
	border-right-color: #316AC5;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	cursor: default;
	width: 100%;
	height: 14px;
	overflow: hidden;
	color: #FFFFFF;
	background-color: #316AC5;
}

/*radio button*/
.radioButtonGroup {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	width: 98px;
	height: 19px;
	overflow: hidden;
	vertical-align: middle;
}

.radioButtonGroupLong {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	width: 348px;
	height: 19px;
	overflow: hidden;
	vertical-align: middle;
}

.radioButtonGroupLine {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	width: auto;
	height: 19px;
	overflow: hidden;
	vertical-align: middle;
}

/*checkbox*/
.choiceCheckBox {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align: middle;
}

/*progressBar*/
.progressBar {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 1px;
	width: 99px;
	height: 19px;
	display: inline;
	overflow: hidden;
}

.progressBarValue {
	font-size: 0;
	height: 15px;
	display: inline;
	vertical-align: top;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #0AEE0A;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #0AFF0A;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #00AA00;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #00AA00;
	filter:'progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#00DD00 , StartColorStr=#EEFFEE , GradientType=0)';
}


.progressBarSignon {
	font-size: 0;
	height: 5px;
	display: inline;
	/*vertical-align: top;
	
	margin-left: 20px;	

	border-top: 1px solid #0AEE0A;
	border-left: 1px solid #0AFF0A;
	border-bottom: 1px solid #00AA00;
	border-right: 1px solid #00AA00;
	
	filter: progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#00DD00 , StartColorStr=#EEFFEE , GradientType=0);*/
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EB6531;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #EB6531;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EB6531;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EB6531;
	filter:'progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#EB6531 , StartColorStr=#EB6531 , GradientType=0)';
}

/*read only string*/
.readOnlyString {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C9CD;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
	background-color: #EBEDEE;
	height: 21px;
}

.readOnlyStringLabel {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	display: inline;
}

.readOnlyStringValue {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-left: 7px;
	display: inline;
}

/*read only border*/
.readOnlyNoBorderValue {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	height: 14px;
	padding-left: 7px;
}

/*header field*/
.headerControl {
	
}

.headerLabel {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	margin-right: 3px;
	vertical-align: top;
}

.headerValue {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	margin-right: 9px;
	vertical-align: top;
}

/*button*/
.buttonlabel {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	color: #000099;
}

.buttonstruct {
	height: 20px;
	width: 88px;
	border-width: 1px;
	border-style: solid;
	cursor: hand;
}

.buttoncolor {
	/*background-color: transparent;
	background-image: url('images/kiwi/controls/button/icon_button.gif');*/
	filter:'progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fefeff, EndColorStr=#e7e7ff , GradientType=0)';
	border-left-color: #666666;
	border-top-color: #666666;
	border-right-color: #000000;
	border-bottom-color: #000000;
}

/*treeTable*/

.treeTableCell {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;	
	padding-left: 3px;
	padding-right: 2px;
	cursor: hand;
}

.treeTableCellText {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;	
	padding-left: 1px;
}



/*command*/
.commandLink,.commandLink:visited,.commandLink:active {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	color: #000099;
	text-decoration: none;
}

.commandLink:hover {
	color: #FF6600;
	text-decoration: underline;
}

.accesskeyCommandButton {
	background-color: transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	width: 0px;
	height: 0px;
}

/*
*framework.css a faire
*/ /*
*matrix.css
*/
.matrixEmpty {
	background-color: #A6CAF0;
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.matrixColumnsLabel {
	width: 100%;
	height: 20px;
	overflow: hidden;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000099;
	background-color: #A6CAF0;
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 4px;
	border-top: none;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right: none;
}

.matrixRowsLabel {
	writing-mode: tb-rl;
	width: 22px;
	height: 100%;
	overflow: hidden;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000099;
	background-color: #A6CAF0;
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 4px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.matrixColumnHeader {
	height: 20px;
	overflow: hidden;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	background-color: #D2DDED;
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 4px;
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.matrixRowHeader {
	width: 20px;
	overflow: hidden;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	background-color: #D2DDED;
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 4px;
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

/*.evenRow {
	background-color: #EEEEEE;
}

.oddRow {
	background-color: #FFFFFF;
}*/

.matrixCell {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	cursor: hand;
}

.matrixEvenSubTable {
	color: #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	border-right: none;
}

.matrixOddSubTable {
	color: #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EEEEEE;
	border-bottom: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #EEEEEE;
	border-right: none;
}

.matrixSubCell {
	height: 20px;
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: middle;
	overflow: hidden;
}

.matrixEvenSubCell {
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.matrixOddSubCell {
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EEEEEE;
}

/*
*msgbox.css
*/
.msgBoxcolor {
	background-color: #eeeeee;
	border-color: #666666;
}

.msgBoxTitlestruct {
	line-height: 20px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-left: 22px;
	background-position-y: center;
	background-repeat: no-repeat;
	background-position-x: 2px;
	width: 100%;
}

.msgBoxTitlecolor {
	background-color: #ccccff;
	color: #333333;
}

.msgBoxContentstruct {
	padding-top: 7px;
	padding-left: 10px;
	font-family: Tahoma;
	font-size: 11px;
	/* height: 95px; */
}

.msgBoxContentcolor {
	background-repeat: repeat-x;
	background-position-y: bottom;
}

.msgBoxBottomstruct {
	text-align: center;
	height: 35px;
	padding-top: 7px;
}

/*
* table_zebra_striped.css
*/
.tableNavigationBar {
	background-color: #E5E9EF;
	height: 20px;
	width: 100%;
	overflow: hidden;
}

.tableNavigationResults {
	height: 20px;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	color: #333333;
	text-align: LEFT;
	padding-right: 3px;
	padding-left: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

.tableNavigationControls {
	height: 20px;
	text-align: RIGHT;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	padding-right: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}


a.tableNavigationLink,a.tableNavigationLink:active,a.tableNavigationLink:visited
	{
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

a.tableNavigationLink:hover {
	color: #FF6600;
	text-decoration: underline;
}

.tableNavigationLinkSet {
	
}



.tableColumnGroupHeader {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000099;
	background-color: #A6CAF0;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.tableColumnGroupHeaderContent {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 4px;
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.tableColumnHeader {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

.tableColumnHeaderContent {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 4px;
	cursor: default;
}

.tableColumnHeaderLink,a.tableColumnHeaderLink:active,a.tableColumnHeaderLink:visited
	{
	text-decoration: none;
	color: #000099;
	cursor: hand;
}

.tableColumnHeaderLink:hover {
	color: #FF6600;
	cursor: hand;
}

.topRightCorner {
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	border-right: none;
	display: inline;
	overflow: hidden;
}

.topLeftCorner {
	border-top: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-left: none;
	display: inline;
	overflow: hidden;
}

.bottomLeftCorner {
	border-top: none;
	border-bottom: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-left: none;
	display: inline;
	overflow: hidden;
}

.tableObject {
	overflow: hidden;
	margin-top: 1px;
	margin-bottom: 1px;
	behavior: url(htc/tableObject.htc);
}

.tableNavigationSeparator {
	vertical-align: top;
	margin-left: 7px;
	margin-right: 7px;
}

.tableNavigationArrowDouble {
	font-family: tahoma;
	font-weight: bold;
	font-size: 9px;
	color: #FF6600;
	text-decoration: none;
}

.tableNavigationArrowSingle {
	font-family: tahoma;
	font-weight: bold;
	font-size: 9px;
	color: #FF6600;
	text-decoration: none;
}

TABLE.tableDataColumn {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
}

/*TR.evenRow {
	height: 20px;
	background-color: #EEEEEE;
}

TR.oddRow {
	height: 20px;
	background-color: #FFFFFF;
}*/

.evenRow {
	height: 20px;
	background-color: #EEEEEE;
}

.oddRow {
	height: 20px;
	background-color: #FFFFFF;
}

TD.tcell
{
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: middle;
	cursor: hand;
}

TD.tcellSelected
{
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: middle;
	cursor: hand;
	color: #FFFFFF; 
	background-color: #000000;
}

TD.tcellEditable
{	
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: middle;
	cursor: hand;
	border:solid 1px #CCCCCC;	
	
}

TD.tcellEditableSelected
{
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: middle;
	cursor: hand;
	color: #000000; 
	background-color: #CCCCCC;
	border:2px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}


TD.tcellEdited {
	padding-left: 2px;
	padding-right: 2px;
	font-family: tahoma;	
	text-align: left;
	color: #000099;
	border: 1px solid A6CAF0;
	background-color: #FFFFFF;	
	width: 100%;
	cursor: hand;
}

.tableCellPercent {
	font-size: 8px;
	display: inline;
}

.tableCellPercentNegative {
	border-top: 1px solid #EE0A0A;
	border-left: 1px solid #FF0A0A;
	border-bottom: 1px solid #AA0000;
	border-right: 1px solid #AA0000;
	filter:'progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#DD0000 , StartColorStr=#FFEEEE , GradientType=0)';
}

.tableCellPercentPositive {
	border-top: 1px solid #0AEE0A;
	border-left: 1px solid #0AFF0A;
	border-bottom: 1px solid #00AA00;
	border-right: 1px solid #00AA00;
	filter:'progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#00DD00 , StartColorStr=#EEFFEE , GradientType=0)';
}


.tableTextDisable {
	color: #808080;
}

.tableScrollDisable {
	scrollbar-arrow-color: #999999;
	scrollbar-face-color: #DDDDDD;
	scrollbar-shadow-color: #FEF5E6;
	scrollbar-darkshadow-color: #9999FA;
	scrollbar-3dlight-color: #FEF5E6;
	scrollbar-highlight-color: #C3CBD7;
}

/*
*workspace.css
*/ /*navigation Bar*/ /* TITLE BAR */
.workspacetitleBar { /*width: 100%;
	height: 28px;	
	background-color: #00112C;
	background-image: url(images/new/background-gradient1px.gif);
	background-repeat: repeat-y;
	background-position: right;
	float: right;*/
	width: 100%;
	height: 28px;
	filter:'progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#00032a, EndColorStr=#00A8e8 , GradientType=1)';
}


.workspacetitleBarlogo {
	/*background:transparent url(images/kiwi/navigation/reuters.png);*/
	filter:'progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/kiwi/navigation/reutersTransparency.png)';
	width: 140px;
	height: 29px;
	float: left;
}

.workspacetitleBarproductName {
	font-family: tahoma;
	font-weight: bold;
	font-size: 12pt;
	color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
}

.workspacetitleBarrightElementText {
	font-family: verdana;
	font-weight: regular;
	font-size: 10px;
	color: #FFFFFF;
	/*color: #000000;*/
}

.workspacetitleBarrightElementLink {
	font-family: verdana;
	font-weight: regular;
	font-size: 10px;
	color: #FFFFFF;
	/*color: #000000;*/
	text-decoration: none;
}

.workspacetitleBarrightElementLink:hover,.workspacetitleBarrightElementLink:active
	{
	text-decoration: none;
	color: #FF6600;
}

/*WORKBOOK BAR*/
.workspaceworkbookBartab {
	padding-left: 3px;
	padding-right: 3px;
}

.workspaceworkbookBartabUnselected {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	/*color: #3865A0;*/
	color: #FFFFFF;
}

.workspaceworkbookBartabUnselected:hover,.workspaceworkbookBartabUnselected:active
	{
	text-decoration: none;
	color: #FF6600;
	/*background-position:100% -27px;*/
}

.workspaceworkbookBartabSelected {
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}

.workspaceworkbookBartabSelected:hover,.workspaceworkbookBartabSelected:active
	{
	color: #FF6600;
}

/*WORKSHEET BAR*/
.workspaceworksheetBar {
	width: 100%;
	height: 26px;
	background-image:url(__defaultIMGPath__worksheet_background.png);
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BDBDB7;
}

.workspaceworksheetBartab {
	padding-left: 5px;
	padding-right: 5px;
}

.workspaceworksheetBartabUnselected {
	font-family: tahoma;
	font-size: 11px;
	font-weight: regular;
	text-decoration: none;
	color: #3865A0;
}

.workspaceworksheetBartabUnselected:hover,.workspaceworksheetBartabUnselected:active
	{
	color: #FF6600;
}

.workspaceworksheetBartabSelected {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.workspaceworksheetBartabSelected:hover,.workspaceworksheetBartabSelected:active
	{
	color: #FF6600;
}

BODY {
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	overflow: hidden;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;	
	/*scrollbar-arrow-color: #EB6531;
	scrollbar-face-color: #3865A0;
	scrollbar-shadow-color: #ABC4EA;
	scrollbar-darkshadow-color: #578AD6;
	scrollbar-3dlight-color: #ABC4EA;
	scrollbar-highlight-color: #FFFFFF;*/
}

.scrollBar
{
	scrollbar-arrow-color: #000099;
	scrollbar-face-color: #CCDCF3;
	scrollbar-shadow-color: #ABC4EA;
	scrollbar-darkshadow-color: #578AD6;
	scrollbar-3dlight-color: #ABC4EA;
	scrollbar-highlight-color: #E6EEF9;
}

TD.MainTitle {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12pt;
	color: white;
	padding-left: 15px;
}

TD.MainTitle A {
	font-family: tahoma;
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-decoration: none;
	padding-right: 5px;
}

TD.MainTitle A:hover {
	color: #FF6600;
}

/*STATUS BAR*/ /*JavaScript*/ /*control.js*/
.controlHiglightMenuItem {
	background-color: #105DA9;
	color: #FFFFFF;
}

.controlUnhiglightMenuItem {
	background-color: none;
	color: none;
}



/********************
     STATUS BAR
********************/

.statusbar
{
	width: 100%;
	height: 20px;
	
	color: #000000;
	/*background-color: #EFEFEF;*/
	filter:'progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#EFEFEF, EndColorStr=#EFEFEF , GradientType=1)';
	
	
	
	border: none;
	border-top: 1px solid #999999;
}

.statusbarItem
{
   	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	
	height: 19px;
	
	border-left: 1px solid #999999;
	
	white-space: nowrap;
	
	overflow: hidden;
}

.statusbarChoiceItem
{
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	
	border-left: 1px solid #999999;
	
	height: 19px;
	width: 26px;
}

/********************
CONTAINERS STATUS BAR
********************/

.statusbarTable
{
	width: 100%;
	height: 18px;
	
	color: #000000;
	background-color: #EFEFEF;
	
	font-size: 1px;	
}

.statusbarImg
{
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
	
	height: 18px;
	
	border-left: 1px solid #999999;
	
	white-space: nowrap;
	
	overflow: hidden;
}

.statusbarCell
{
	font-family: tahoma;
	font-weight: normal;
	font-size: 11px;
	
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	
	height: 18px;
	
	border-left: 1px solid #999999;
	
	white-space: nowrap;
	
	overflow: hidden;
}


.topRightCornerColumn
{
	background-color: #D2DDED;
}

.topRightCornerColumnDisable
{
	background-color: #DDDDDD;
}

.topRightCornerColumnGroup
{
	background-color: #A6CAF0;
}

.topRightCornerColumnGroupDisable
{
	background-color: #CCCCCC;
}

.tableColumnHeaderDisable
{
	background-color: #DDDDDD;
}

.tableColumnHeaderEnable
{
	background-color: #D2DDED;
}

.tableColumnHeaderSort
{
	background-color: #B2B2E0;
}

.tableTextEnable
{
	color: #000000;
}