<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>&lt;p&gt;Build &lt;b&gt;Nabla&lt;/b&gt; &lt;i&gt;Trunk All&lt;/i&gt; the whole project at the same time.&lt;br&gt;&#xd;
The main goals of this job is to perform operations like release, it is intended to build master.&lt;br&gt;&#xd;
It will keep build history and artifacts.&lt;br&gt;&#xd;
&lt;br&gt;&#xd;
It should be as quick as possible whith no reports.&#xd;
&lt;/p&gt;</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty>
      <googlecodeWebsite>https://code.google.com/p/alban/</googlecodeWebsite>
    </hudson.plugins.googlecode.GoogleCodeProjectProperty>
    <com.cloudbees.plugins.deployer.DeployNowJobProperty>
      <oneClickDeploy>true</oneClickDeploy>
      <configuration>
        <user>alban.andrieu@free.fr</user>
        <account>nabla</account>
        <deployables/>
      </configuration>
    </com.cloudbees.plugins.deployer.DeployNowJobProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
      <doNotScan>true</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <jenkins.plugins.svnmerge.IntegratableProject/>
  </properties>
  <scm class="hudson.plugins.googlecode.scm.GoogleCodeSCMEx">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://alban.googlecode.com/svn/trunk</remote>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <browser class="hudson.plugins.googlecode.GoogleCodeRepositoryBrowser"/>
    <excludedRegions></excludedRegions>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
    <directory>trunk</directory>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <jdk>JDK 7u7</jdk>
  <triggers class="vector">
    <hudson.plugins.promoted__builds.PromotionTrigger>
      <spec></spec>
      <jobName></jobName>
      <process></process>
    </hudson.plugins.promoted__builds.PromotionTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.nabla.project.uml</groupId>
    <artifactId>nabla</artifactId>
  </rootModule>
  <goals>-Dsurefire.useFile=false install -Parq-jbossas-managed -Dserver=jboss5</goals>
  <defaultGoals>install</defaultGoals>
  <mavenName>Maven-3.0.4</mavenName>
  <mavenOpts>-Xms256m -Xmx512m -XX:PermSize=80M -XX:MaxPermSize=256M</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <localRepository class="hudson.maven.local_repo.DefaultLocalRepositoryLocator"/>
  <perModuleEmail>true</perModuleEmail>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <resolveDependencies>true</resolveDependencies>
  <processPlugins>true</processPlugins>
  <mavenValidationLevel>30</mavenValidationLevel>
  <runHeadless>true</runHeadless>
  <settingConfigId></settingConfigId>
  <globalSettingConfigId></globalSettingConfigId>
  <reporters/>
  <publishers>
    <com.sonatype.insight.ci.hudson.PostBuildScan>
      <billOfMaterialsToken></billOfMaterialsToken>
      <pathConfig/>
      <failOnSecurityAlerts>false</failOnSecurityAlerts>
    </com.sonatype.insight.ci.hudson.PostBuildScan>
    <hudson.plugins.warnings.WarningsPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>true</dontComputeNew>
      <doNotResolveRelativePaths>true</doNotResolveRelativePaths>
      <parserConfigurations/>
      <consoleParsers>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>Java Compiler (javac)</parserName>
        </hudson.plugins.warnings.ConsoleParser>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>Maven</parserName>
        </hudson.plugins.warnings.ConsoleParser>
      </consoleParsers>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <includeFailedBuilds>false</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/target/*.war, **/target/*.jar, **/*-sources.jar</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.dependencyanalyzer.DependencyAnalyzerPublisher/>
    <jenkins.plugins.TagCloudGenerator>
      <includes></includes>
      <excludes></excludes>
    </jenkins.plugins.TagCloudGenerator>
    <hudson.plugins.claim.ClaimPublisher/>
    <hudson.plugins.svn__tag.SvnTagPublisher>
      <tagBaseURL>http://subversion_host/project/tags/last-successful/${env[&apos;JOB_NAME&apos;]}</tagBaseURL>
      <tagComment>Tagged by Jenkins svn-tag plugin. Build:${env[&apos;BUILD_TAG&apos;]}.</tagComment>
      <tagDeleteComment>Delete old tag by svn-tag Jenkins plugin.</tagDeleteComment>
    </hudson.plugins.svn__tag.SvnTagPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.release.ReleaseWrapper>
      <releaseVersionTemplate></releaseVersionTemplate>
      <doNotKeepLog>false</doNotKeepLog>
      <overrideBuildParameters>false</overrideBuildParameters>
      <parameterDefinitions/>
      <preBuildSteps/>
      <postBuildSteps/>
      <postSuccessfulBuildSteps>
        <hudson.plugins.jboss.JBossBuilder>
          <serverName>jboss-as-7.1.1.Final</serverName>
          <operation>
            <type>START_AND_WAIT</type>
            <stopOnFailure>false</stopOnFailure>
          </operation>
        </hudson.plugins.jboss.JBossBuilder>
      </postSuccessfulBuildSteps>
      <postFailedBuildSteps/>
    </hudson.plugins.release.ReleaseWrapper>
  </buildWrappers>
  <prebuilders>
    <hudson.tasks.Maven>
      <targets>-U clean validate -Psample,arq-jbossas-managed -Dserver=jboss5</targets>
      <mavenName>Maven-3.0.4</mavenName>
      <properties>maven.repo.local=/usr/share/tomcat6/.m2/repository</properties>
      <usePrivateRepository>false</usePrivateRepository>
    </hudson.tasks.Maven>
  </prebuilders>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
  </runPostStepsIfResult>
</maven2-moduleset>