<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jboss-embedded" verbose="4" parallel="false">
	<test name="hello-world-test">
		<classes>
			<class name="org.andromda.timetracker.test.HelloWorldTest" />
            <class name="org.andromda.timetracker.test.EmbeddedEjb3TestCase"/>
            <!-- Always start the EJB3 embeddable container before running the tests -->
            <!--
            <class name="org.andromda.timetracker.test.EJB3Container"/>
            <class name="org.andromda.timetracker.service.test.UserServiceTest"/>
            <class name="org.andromda.timetracker.service.test.TimeTrackingServiceTest"/>
            <class name="org.andromda.timetracker.service.test.SecurityServiceTest"/>
            -->
		</classes>
	</test>
</suite>