domain {{ defaultdomain }}
{% if defaultsearch is defined %}search {{ defaultsearch }}{% endif %}
{% if nameserver1 is defined %}nameserver {{ nameserver1 }}{% endif %}
{% if nameserver2 is defined %}nameserver {{ nameserver2 }}{% endif %}
